.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  transition: opacity .2s linear;
}

.footer__column-link:active {
  color: #ff0000;
}

.footer__column-link:hover {
  opacity: 70%;
}